.ag-theme-alpine {
    --ag-background-color: var(--cards);
    --ag-header-background-color: var(--shade-5);
    --ag-odd-row-background-color: var(--shade-2);
    --ag-border-color: var(--shade-4);
    --ag-header-cell-text-color: var(--text-primary);
    --ag-cell-text-color: var(--text-secondary);
    --ag-row-hover-color: var(--shade-3);
    --ag-selected-row-background-color: var(--shade-5);
    --ag-font-family: 'Inter', sans-serif;
  }